.ltr {
  text-align: left;
}
.rtl {
  text-align: right;
}
.paragraph {
  margin: 0;
  position: relative;
}
.quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}
.h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.h2 {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}
.indent {
  --lexical-indent-base-value: 40px;
}
.textBold {
  font-weight: bold;
}
.paragraph mark {
  background-color: unset;
}
.textHighlight {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
}
.textItalic {
  font-style: italic;
}
.textUnderline {
  text-decoration: underline;
}

.textStrikethrough {
  text-decoration: line-through;
}

.textUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.tabNode {
  position: relative;
  text-decoration: none;
}

.tabNode.textUnderline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.15em;
  border-bottom: 0.1em solid currentColor;
}

.tabNode.textStrikethrough::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.tabNode.textUnderlineStrikethrough::before,
.tabNode.textUnderlineStrikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.tabNode.textUnderlineStrikethrough::before {
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.tabNode.textUnderlineStrikethrough::after {
  bottom: 0.05em;
  border-bottom: 0.1em solid currentColor;
}

.textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.textLowercase {
  text-transform: lowercase;
}
.textUppercase {
  text-transform: uppercase;
}
.textCapitalize {
  text-transform: capitalize;
}
.hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.blockCursor {
  display: block;
  pointer-events: none;
  position: absolute;
}
.blockCursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}
@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}
.code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}
.code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.tableScrollableWrapper {
  overflow-x: auto;
  margin: 0px 25px 30px 0px;
}
.tableScrollableWrapper > .table {
  /* Remove the table's vertical margin and put it on the wrapper */
  margin-top: 0;
  margin-bottom: 0;
}
.tableAlignmentCenter {
  margin-left: auto;
  margin-right: auto;
}
.tableAlignmentRight {
  margin-left: auto;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 30px;
}
.tableFrozenRow {
  /* position:sticky needs overflow:clip or visible
     https://github.com/w3c/csswg-drafts/issues/865#issuecomment-350585274 */
  overflow-x: clip;
}
.tableFrozenRow tr:nth-of-type(1) > td {
  overflow: clip;
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.tableFrozenRow tr:nth-of-type(1) > th {
  overflow: clip;
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.tableFrozenRow tr:nth-of-type(1) > th:after,
.tableFrozenRow tr:nth-of-type(1) > td:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.tableFrozenColumn tr > td:first-child {
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  left: 0;
}
.tableFrozenColumn tr > th:first-child {
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  left: 0;
}
.tableFrozenColumn tr > :first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #bbb;
}
.tableRowStriping tr:nth-child(even) {
  background-color: #f2f5fb;
}
.tableSelection *::selection {
  background-color: transparent;
}
.tableSelected {
  outline: 2px solid rgb(60, 132, 244);
}
.tableCell {
  border: 1px solid #bbb;
  width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 6px 8px;
  position: relative;
  outline: none;
  overflow: auto;
}
/*
  A firefox workaround to allow scrolling of overflowing table cell
  ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1904159
*/
.tableCell > * {
  overflow: inherit;
}
.tableCellResizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}
.tableCellHeader {
  background-color: #f2f3f5;
  text-align: start;
}
.tableCellSelected {
  caret-color: transparent;
}
.tableCellSelected::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: highlight;
  mix-blend-mode: multiply;
  content: '';
  pointer-events: none;
}
.tableAddColumns {
  position: absolute;
  background-color: #eee;
  height: 100%;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.tableAddColumns:after {
  /* background-image: url(../images/icons/plus.svg); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.tableAddColumns:hover,
.tableAddRows:hover {
  background-color: #c9dbf0;
}
.tableAddRows {
  position: absolute;
  width: calc(100% - 25px);
  background-color: #eee;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.tableAddRows:after {
  /* background-image: url(../images/icons/plus.svg); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tableCellResizeRuler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: rgb(60, 132, 244);
  height: 100%;
  top: 0;
}
.tableCellActionButtonContainer {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}
.tableCellActionButton {
  background-color: #eee;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: #222;
  cursor: pointer;
}
.tableCellActionButton:hover {
  background-color: #ddd;
}
.characterLimit {
  display: inline;
  background-color: #ffbbbb !important;
}
.ol1 {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
  list-style-position: outside;
}
.ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}
.ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.listItem {
  margin: 0 0 0 32px;
}
.listItemChecked,
.listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.listItemChecked {
  text-decoration: line-through;
}
.listItemUnchecked:before,
.listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.listItemUnchecked[dir='rtl']:before,
.listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.listItemUnchecked:focus:before,
.listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}
.listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.nestedListItem {
  list-style-type: none;
}
.nestedListItem:before,
.nestedListItem:after {
  display: none;
}
.tokenComment {
  color: slategray;
}
.tokenPunctuation {
  color: #999;
}
.tokenProperty {
  color: #905;
}
.tokenSelector {
  color: #690;
}
.tokenOperator {
  color: #9a6e3a;
}
.tokenAttr {
  color: #07a;
}
.tokenVariable {
  color: #e90;
}
.tokenFunction {
  color: #dd4a68;
}
.mark {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}
.markOverlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}
.markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.embedBlock {
  user-select: none;
}
.embedBlockFocus {
  outline: 2px solid rgb(60, 132, 244);
}
.layoutContainer {
  display: grid;
  gap: 10px;
  margin: 10px 0;
}
.layoutItem {
  border: 1px dashed #ddd;
  padding: 8px 16px;
  min-width: 0;
  max-width: 100%;
}
.autocomplete {
  color: #ccc;
}
.hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}
.hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}
.hr.hrSelected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.specialText {
  background-color: yellow;
  font-weight: bold;
}